/* 
responsive-menu.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media all and (max-width : 600px)
{
    li
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h3 
    {
        font-size: 1.5rem;
        margin-top: 10%;
    }
}