/* 
stylementions.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.mentions
{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
	font-family: Arial, Sans-Serif;
}

section h2
{
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
section h3
{
    font-size: 1.5rem;
    text-decoration: underline;
    margin-left: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
li
{
    padding-bottom: 0.2rem;
}
.Apropos
{
    margin-top: 2rem;
}
.conditions
{
    margin-bottom: 10rem;
}
@media and all (max-width:600px)
{
    section h2
    {
        font-size: 3rem;
    }section h3
    {
        font-size: 2rem;
    }
    .mentions
    {
        max-width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}