/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.menus
{
    max-width: 1000px;
    background-color: #FADFDB;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', Sans-Serif;
    font-weight: lighter;
    padding-bottom: 15%;
}
.note
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
.note h2
{
    font-family: 'Devonshire';
    font-size: 3rem;
    color: #3C1218;
}
.prelude
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
.prelude h3
{
    margin-top: 5%;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: black;
    position: relative;
    display: inline-block;
}
h3:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
h3:hover:after
{
    width: 100%;
    left: 0;
}

.prelude li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.point-orgue
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
.point-orgue h3
{
    margin-top: 5%;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: black;
    position: relative;
    display: inline-block;
}
.point-orgue li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.titre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titre img
{
    width: 30%;
}
.mouvement
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}
.mouvement h3
{
    margin-top: 5%;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: black;
    position: relative;
    display: inline-block;
}
.mouvement li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.menus h2
{
    font-family: 'Devonshire';
    font-size: 3rem;
    color: #3C1218;
}
.logonote
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.noteen
{
    width: 20%;
}