/* 
style-menus.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.grille-menu
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 4rem;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 2rem;
}
.note
{
    background-color:#FADFDB;
    width: 357px;
    height: 504px;
    margin: auto;
    margin-top: 15%;
    box-shadow: 0px 0px 3px 3px lightgrey;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;

}
.zoom
{
    cursor: pointer;
    overflow: hidden;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}
.zoom:hover
{
    transform: scale(1.15);
}
.note img
{
    padding-top: 35%;

}
.note h3
{
    font-family: 'Devonshire', cursive;
    color: #3C1318;
    font-size: 2.5rem;

}
.note h4
{
    font-family: 'Itim', cursive;
    color: #3C1318;
    font-size: 4rem;
    padding-top: 2rem;
}
.chic
{
    background-color:#FDF5FE;
    width: 357px;
    height: 504px;
    margin: auto;
    margin-top: 15%;
    box-shadow: 0px 0px 3px 3px lightgrey;
    justify-content: center;
    text-align: center;
}
.chic h3
{
    font-family: 'Croissant One', cursive;
    background: -webkit-linear-gradient(0.20turn, #DA8135, #8E56F7 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    padding-top: 50%;
}
.chic h4
{
    font-size: 5rem;
    color: #DA8135;
    font-family: 'DM serif display', serif;
    padding-top: 2rem;
}
.delice
{
    background-color:#F9F9F9;
    width: 357px;
    height: 504px;
    margin: auto;
    margin-top: 15%;
    box-shadow: 0px 0px 3px 3px lightgrey;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;

}
.delice h3
{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    background: -webkit-linear-gradient(0.20turn,#003BD7, #2589F7 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    padding-top: 50%;

}
.delice h4
{
    font-family: 'Nanum Pen', cursive;
    color: #2589F7;
    font-size: 5rem;
    padding-top: 2rem;
}
.palette
{
    background-color:#FCFFFD;
    width: 357px;
    height: 504px;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 2%;
    box-shadow: 0px 0px 3px 3px lightgrey;
    justify-content: center;
    text-align: center;
}
.palette h3
{
    font-family: 'Kaushan Script', cursive;
    background: -webkit-linear-gradient(0.20turn,#42923C,#BCF780 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    padding-top: 50%;
}
.palette h4
{
    font-size: 5rem;
    color: #42923C;
    font-family: 'Nanum Pen';
    padding-top: 2rem;
}
.zoom
{
    cursor: pointer;
    transform: scale(1);
    transition: transform 500ms;
}
.zoom:hover
{
    transform: scale(1.2);
}
.menu2
{
    background-color: white;
}
.menu2 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}
.menu3
{
    background-color: white;
}
.menu3 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 15%;
}
.menu4
{
    background-color: white;
}
.menu4 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}
@media all and (max-width : 800px)
{
    .grille-menu
    {
        display: grid;
        grid-template-columns: auto;
    }
    .note
    {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .chic
    {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .delice
    {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .palette
    {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
