/* 
style-menus.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.grille-menu
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 4rem;
}
.note
{
    background-color: lightpink;
    width: 357px;
    height: 504px;
    margin-left: 35%;
    margin-top: 15%;
}
.zoom
{
    cursor: pointer;
    transform: scale(1);
    transition: transform 500ms;
}
.zoom:hover
{
    transform: scale(1.2);
}
.menu2
{
    background-color: white;
}
.menu2 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}
.menu3
{
    background-color: white;
}
.menu3 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 15%;
}
.menu4
{
    background-color: white;
}
.menu4 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}
@media all and (max-width : 600px)
{
    .menus div
    {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .menus img
    {
        margin-bottom: 3rem;
        margin-right: auto;
        margin-left: auto;
    }
}