/* 
style-menus.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.grille-menu
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 4rem;
}
.menu1
{
    background-color: white;
}
.menu1 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 15%;
}
.zoom
{
    cursor: pointer;
    transform: scale(1);
    transition: transform 500ms;
}
.zoom:hover
{
    transform: scale(1.2);
}
.menu2
{
    background-color: white;
}
.menu2 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}
.menu3
{
    background-color: white;
}
.menu3 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 15%;
}
.menu4
{
    background-color: white;
}
.menu4 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}