/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.menus
{
    max-width: 1000px;
    background-color: #FDF5FE;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Crimson Text', cursive;
    font-weight: lighter;
    padding-bottom: 5%;
    margin-bottom: 15%;
}
.appetit
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #C67530;
}
.menus h3
{
    margin-top: 5%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-family: 'Croissant One', cursive;
    position: relative;
    display: inline-block;
}
.appetit h3::after
{
    background:  #C67530;
}
.plat li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.papilles
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #A56799;
}
.papilles h3::after
{
    background:  #A56799;
}
.titre
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titre img
{
    width: 30%;
}
.gourmandises
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    color: #6E4CCC;
    margin-left: 3rem;
    margin-right: 3rem;
}
.gourmandises h3::after
{
    background: #6E4CCC;
}
.menus h2
{
    font-family: 'Croissant One', cursive;
    font-size: 3rem;
    background: -webkit-linear-gradient(0.20turn, #DA8135, #8E56F7 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
    margin-bottom: 5%;
}
@media all and (max-width:600px)
{
    .titre img
    {
        display: none;
    }
    .titre
    {
        align-items: center;
        justify-content: center;
    }
}