/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.menus
{
    max-width: 1000px;
    background-color: #FADFDB;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', Sans-Serif;
    font-weight: lighter;
    padding-bottom: 10%;
}
.note
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}
.note h2
{
    font-family: 'Devonshire';
    font-size: 3rem;
    color: #3C1218;
}
.prelude
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}
.prelude h3
{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.prelude li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.point-orgue
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}
.point-orgue h3
{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.point-orgue li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.mouvement
{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}
.mouvement h3
{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.mouvement li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}