/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
    display: block;
    justify-content: center;
	font-family: Arial, Sans-Serif;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: #579c87;
}
h1
{
    font-size: 4rem;
    display: block;
    color: greenyellow;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.grille-menu
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 4rem;
}
.menu1
{
    background-color: white;
}
.menu1 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 15%;
}
.zoom
{
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 500ms;
}
.zoom:hover
{
    transform: scale(1.2);
}
.menu2
{
    background-color: white;
}
.menu2 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}
.menu3
{
    background-color: white;
}
.menu3 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-left: 35%;
    margin-top: 15%;
}
.menu4
{
    background-color: white;
}
.menu4 img
{
    box-shadow: 0px 0px 3px 3px lightgrey;
    width: 357px;
    height: 504px;
    overflow: hidden;
    margin-right: 35%;
    margin-left: 15%;
    margin-top: 15%;
}
.prochainement
{
    width: auto;
    max-width: 230px;
    min-width: 200px;
    display: flex;
   margin-left: auto;
   margin-right: auto;
   background-color: #579c87;
   border-radius: 10px;
   padding: 1rem 1rem;
   cursor: pointer;
   margin-bottom: 7rem;
}
h2
{
    text-align: center;
    font-size: 2rem;
    color: greenyellow;
}

footer
{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: #579c87;
    margin-top: 6rem;
    min-width: 300px;
    position: fixed;
    bottom: 0;
}
.foot1
{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    color: greenyellow;
    margin-left: 25%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.foot2
{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
    color: greenyellow;
    margin-right: 25%;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
a 
{
    text-decoration-line: none;
    color: greenyellow;
}
a:hover
{
    color:black;
}
@media all and (max-width : 600px)
{
    .menus div
    {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .menus img
    {
        margin-bottom: 3rem;
        margin-right: auto;
        margin-left: auto;
    }
    .foot1
    {
        margin-left: 1rem;
    }
    .foot2
    {
        margin-right: 1rem;
    }
}
