/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
	font-family: Arial, Sans-Serif;
}
.header
{
    display: flex;
    flex-direction: row;
    height: 22%;
    background-color: green;
}
h1
{
    font-size: 5rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.menus
{
    display: flex;
    flex-direction: column;
}
.menus div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menus img
{
    width: 357px;
    height: 504px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
button
{
    width: auto;
    display: flex;
   margin-left: auto;
   margin-right: auto;
   background-color: green;
}
h2
{
    text-align: center;
    font-size: 2rem;
}
footer
{
    display: flex;
    flex-direction: row;
    height: 15%;
    background-color: green;
}
.foot1
{
    text-align: left;
}
.foot2
{
    text-align: right;
}